body {
    background-color: white;
    margin: 40px;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    color: #2888DE;

}


.jumbotron {
    background-color:#2888DE;
    color: white;
     font-family:  'Crimson Text', serif;
    
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

h3 {
  letter-spacing: 2px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


/* Button style */

.example_b {
  color: #fff !important;
  text-transform: uppercase;
  background: #2888DE;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  }
  .example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

   
   .fa-envelope-open {
     /* padding: 15px; */
     width: 40px;
     height: 20px;
     
   }