body {
    background-color: rgb(255, 255, 255);
    margin: 40px;
    padding: 30px;
    font-family: 'Crimson Text', serif;
}

.jumbotron {
    background-color:#2888DE;
    color: white;
     font-family:  'Crimson Text', serif;
    
}

h1 {
  font-family:'Crimson Text', serif;
}

h6 {
  font-family: 'Crimson Text', serif;
}




html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


/* Button style */

.nav-pills {
  list-style-type: none;
  margin: 0;
  padding: 0;
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

 
 

